/*
font-family: 'Raleway', sans-serif;             Body
font-family: 'Cinzel Decorative', cursive;      Headings
*/

@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Raleway:400,500i,700,800i,900i&display=swap');

abbr {
    text-decoration: none;   
}


a:link, a:visited {
    color: #8C392C;
    text-decoration: none;
}

a:focus, a:hover { 
    background-color: #FCBFBF;
    border-radius: 5px;
    text-decoration: underline;
}

body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
}


h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 250%;
    font-weight: bolder;
    position: relative;
    top: 355px;
}      
      
h2 {
    font-family: 'Cinzel Decorative', cursive;    
    font-size: 90%;
    margin-top: 525px;
}

h3 {
    color: #ffa6a6;
    text-shadow: #383838 2px 2px;
}

header {
    background-image: url(SiteOneImages/leaf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 970px;
    
    color: white;
    font-size: 3em;
    margin-top: -110px;
    text-shadow: #8C392C 2px 2px;
    text-align: center;
}

.main {
    grid-column-start: 1;
    grid-column-end: 3;
}

.page-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.preamble, .summary, .main {
    padding: 0px 170px 50px 170px;
}

.intro {
    grid-column-start: 1;
    grid-column-end: 4;
}

.sidebar {
    background-color: #ffe8e8;
    padding-left: 40px;
}

.summary {
    margin-top: 40px;
}
